!!!
%html
  %head
    %title Endika
    = stylesheet_link_tag "application", media: "all"
    = stylesheet_link_tag "http://fonts.googleapis.com/css?family=Titillium+Web:400,200"
    = stylesheet_link_tag "http://fonts.googleapis.com/css?family=Josefin+Slab:100"
    = stylesheet_link_tag "http://code.ionicframework.com/ionicons/1.4.1/css/ionicons.min.css"
    = csrf_meta_tags
  %body
    = yield
    = javascript_include_tag "application"

